{% extends "base/base.html.twig" %}

{% block title %}{{ parent() }}Panel - {{ app.user.email }}{% endblock %}
{% block body %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 w-100 h-25" id="logo-image"></div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2 class="text-center">Logged as: {{ app.user.email }} | <a
                                href="{{ path('app_logout') }}">logout</a></h2>
                    {% if error %}
                    <p class="text-center alert alert-danger"><i class="fas fa-info-circle"></i> {{ error }}</p>
                    {% elseif success %}
                        <p class="text-center alert alert-success"><i class="fas fa-info-circle"></i> {{ success }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% include 'panel/panel_navbar.html.twig' %}
                    <br><br><br><br><br>
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                             aria-labelledby="v-pills-profile-tab">
                            <h2>Profile Details</h2>
                            <p><a href="{{ path('app_edit_profile') }}">Edit profile</a></p>
                            <hr>
                            <br><br>
                            <h5>User name:</h5>
                            <p>{{ app.user.email }}</p>
                            <h5>Password:</h5>
                            <p>Your password is hashed in bcrypt algorithm</p>
                            <h5>Restaurant owner?</h5>
                            <p>{% if app.user.hasRestaurant == 1 %} Yes {% else %} No {% endif %}</p>
                        </div>

                        {% block fav_restaurants %}{% include 'panel/fav_restaurants.html.twig' %}{% endblock %}

                        <div class="tab-pane fade" id="v-pills-restaurant" role="tabpanel"
                             aria-labelledby="v-pills-restaurant-tab">
                            <h2>Restaurant details</h2>
                            <hr>
                            <br><br>
                            {% if app.user.hasRestaurant and app.user.restaurantId == NULL %}
                                {% include 'panel/add_restaurant.html.twig' %}
                            {% elseif app.user.hasRestaurant and app.user.restaurantId != NULL %}
                                {% include 'panel/restaurant_details.html.twig' %}
                            {% else %}
                                <p class="alert alert-info">You have to be a restaurant owner, to see this section. You can change it in your profile settings</p>
                            {% endif %}

                        </div>
                        <div class="tab-pane fade" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-menu-tab">
                            <h2>Restaurant menu</h2>
                            <hr>
                            <br><br>
                            {% if app.user.hasRestaurant == false %}
                                <p>This section is available for restaurant owners only. You can change it in profile
                                    edit
                                    section.</p>
                            {% elseif app.user.restaurantId == '' or app.user.restaurantId == null %}
                                <p>You have to add restaurant first, in restaurant details section!</p>
                            {% else %}
                                {% include 'panel/restaurant_menu.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% include 'panel/javascripts.html.twig' %}{% endblock %}