<p><a class="btn btn-primary" href="{{ path('app_panel_edit_restaurant') }}" role="button">Edit restaurant details</a></p>
<br><br><br>
<h5>Restaurant name:</h5>
<p>{{ app.user.restaurantId.name }}</p>
<h5>Logo:</h5>
<p><img class="img-fluid d-block rounded-circle mx-auto w-25" src="{{ app.user.restaurantId.image }}" width="100" height="100"
    alt="{{ app.user.restaurantId.name }}"></p><br>
<h5>Cuisine:</h5>
<p>{{ app.user.restaurantId.cuisineid.name }}</p>
<h5>Lat:</h5>
<p>{{ app.user.restaurantId.lat }}</p>
<h5>Lng:</h5>
<p>{{ app.user.restaurantId.lat }}</p>
<h5>Delivery time:</h5>
<p>{{ app.user.restaurantId.deliverytime }}</p>
<h5>Delivery cost:</h5>
<p>{{ app.user.restaurantId.deliverycost }}</p>
<h5>Minimal order:</h5>
<p>{{ app.user.restaurantId.minimalorder }}</p>
<h5>Website:</h5>
<p>{{ app.user.restaurantId.website }}</p>
<h5>Email:</h5>
<p>{{ app.user.restaurantId.email }}</p>
<h5>Mobile number:</h5>
<p>{{ app.user.restaurantId.mobile }}</p><br><br>
<form method="post" action="{{ path('app_panel_delete_restaurant') }}">
    <input type="hidden" value="{{ app.user.restaurantId.id }}" name="restaurantID">
    <button class="btn btn-primary" type="submit" onclick="return confirm('Do you really want to delete {{ app.user.restaurantId.name }} restaurant?')">Delete this restaurant</button>
</form>