{% extends "base/base.html.twig" %}

{% block title %}{{ parent() }}Search{% endblock %}
{% block body %}

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 w-100 h-25" id="logo-image"></div>
            </div>
        </div>
    </div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="resultForm">
                <a class="btn btn-primary" href="{{ path('homepage') }}"><< back</a>
                <br><br><br>
                <form action="{{ path('app_restaurant_details') }}" method="get" class="text-primary filter-form">
                    Postcode:<br>
                    <input type="text" id="postcode" name="postcode" value="{{ postcode_input }}"
                           readonly="readonly"><br><br><br>
                    Distance (miles):<br>
                    <input type="number" id="distance" name="distance" value=""><br><br><br>

                    <select id="cuisine" name="cuisine" size="8" style="width: 100%" required="required" class="">
                        <option value='any' selected="selected">Any</option>
                        {% for cuisine in cuisines %}
                        <option name="cuisine" value="{{ cuisine.name }}"> {{ cuisine.name|capitalize }}<br>
                            {% endfor %}
                    </select>
                    {#                    <input id="cuisine" type="radio" name="cuisine" value="any" checked=""> Any<br>#}
                    {#                    {% for cuisine in cuisines %}#}
                    {#                        <input type="radio" name="cuisine" value="{{ cuisine.name }}"> {{ cuisine.name|capitalize }}<br>#}
                    {#                    {% endfor %}#}

                    <br><br> Minimal order<br>
                    <select id="minorder" name="minorder" size="5" style="width: 100%" required="required" class="">
                        <option value=0 selected="selected">Any</option>
                        <option value=3>From £3</option>
                        <option value=5>From £5</option>
                        <option value=10>From £10</option>
                        <option value=15>From £15</option>
                    </select><br><br><br> Delivery cost:<br>
                    <select id="deliverycost" name="deliverycost" size="4" style="width: 100%">
                        <option value=0 selected="selected">Any</option>
                        <option value=1>Up to £1</option>
                        <option value=2>Up to £2</option>
                        <option value=5>Up to £5</option>
                    </select>
                    <br><br>
                    <div class="text-center">
                    </div>
                </form>
                <br><br><br><br><br>
            </div>
            <div class="col-md-8" style="overflow-y: scroll; max-height: 1300px;">
                <div style="text-align: center;">
                    <div>
                        {#                        <a class="btn btn-primary text-center text-light" id="displayFilter">Show filter</a>#}
                        {#                        <a class="btn btn-primary text-center text-light" id="displayFilter2" style="display: none;">Hide filter</a>#}
{#                        <br><br></div>#}
                </div>
                <div class="text-center">
                    <h3 class="alert alert-success text-center">Found {{ restaurants|length }} restaurants near
                        to {{ postcode_input }}</h3>
                    <hr>
                    <br><br>
                    <h2 class="text-center">Results:</h2>

                    <hr>


                    {% if restaurants|length > 0 %}
                        <div class="restaurant-results">
                            {% for restaurant in restaurants %}
                                {% set distanceVar = distance(userLat, userLng, restaurant.lat, restaurant.lng)|number_format(2) %}
                                <div class="card restaurant-box" style="text-align: center"
                                     data-name="{{ distanceVar }}">
                                    <div class="card-body" style="">
                                        <h4 style="text-align: center"> Restaurant details </h4>
                                        <hr>
                                    </div>
                                    <h1 class="card-text">{{ restaurant.name }}</h1>
                                    <h3 class="r-distance">{{ distanceVar }} miles away </h3>
                                    <p class="card-text">Average delivery time: <span
                                                class="r-deliverytime">{{ restaurant.deliverytime }}</p>
                                    <p class="card-text">Delivery cost: <span
                                                class="r-deliverycost">{{ restaurant.deliverycost }}</span></p>
                                    <p class="card-text">Minimal order: <span
                                                class="r-minorder">{{ restaurant.minimalorder }}</span></p>
                                    <p class="card-text">Cuisine: <span
                                                class="r-cuisine">{{ restaurant.cuisineid.name }}</span></p>
                                    <iframe height="220"
                                            src="https://maps.google.com/maps?q={{ restaurant.lat }},{{ restaurant.lng }}&amp;z=14&amp;output=embed"></iframe>

                                    <br><br>
                                    <form action="{{ path('app_restaurant_details') }}" method="post">
                                        <input type="hidden" name="restaurantID" value="{{ restaurant.id }}"/>
                                        <input type="hidden" name="miles_away" value="{{ distanceVar }}"/>
                                        <button type="submit" class="btn btn-primary text-center">Check details</button>
                                    </form>
                                    {#                    <a class="btn btn-outline-primary text-center" href="{{ path('app_restaurant_details',{restaurantID: restaurant.id, miles_away: }) }}">Check details</a>#}
                                    <br><br>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center alert alert-danger">0 results. Try with different filters.</p>;
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block javascripts %}{{ parent() }}{% include 'search/javascripts.html.twig' %}{% endblock %}